@charset "UTF-8";
html, body {
	margin: 0;
	background: #F2F6FC;
}

.nav-shadow {
	box-shadow: 2px 2px 12px rgba(0, 0, 0, .12), 0 0 50px rgba(0, 0, 0, .04);
}

.info-shadow {
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
}

.grid-content {
	border-radius: 4px;
	min-height: 36px;
}

 .dashboaed-el-header {
	background-color: #3D4C66;
	color: #333;
	line-height: 60px;
	z-index: 3;
	display: block;
	width: 100%;
	position: fixed;
}

 .dashboard-el-main {
	padding: 55px 0px 0px 1px;
	margin-left: -10px;
}