 .problem-el-header {
    background-color: #F2F6FC;
    color: #333;
    line-height: 55px;
    padding: 0px 0px 0px 0px;
} 

.problem-el-main{
	padding: 0px 0px 0px 0px;
}

.problem-el-footer{
	padding: 0px 0px 0px 0px;
}
#problem .el-menu-item{
    font-family: PingFangSC-Regular;
    font-size: 12px;
}
