<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="..\shared\common.html" rel="import">
    <link href="..\css\dashboard.css" type="text/css" rel="stylesheet">
    <link href="..\css\problem.css" type="text/css" rel="stylesheet">
    <link href="..\css\overview.css" type="text/css" rel="stylesheet">
    <script src="..\vue\vue-router.js" type="text/javascript"></script>
</head>

<body>
    <template id="dashboard-template">
        <div id="dashboard">
            <!-- 布局容器 -->
            <el-container>
                <el-header class="nav-shadow dashboaed-el-header">
                    <!-- <el-dropdown>
                        <i class="el-icon-setting" style="margin-right: 15px"></i>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item>查看</el-dropdown-item>
                            <el-dropdown-item>新增</el-dropdown-item>
                            <el-dropdown-item>删除</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <span>test</span> -->
                    <el-menu :default-active="1" mode="horizontal" background-color="#3d4c66" text-color="#fff"
                        active-text-color="#ffd04b">
                        <el-menu-item index="1" style="margin-left:80px;cursor:pointer" disabled>
                            <i class="el-icon-menu"></i>处理中心 </el-menu-item>
                    </el-menu>
                </el-header> <!-- 左导航栏 -->
                <el-container>
                    <el-aside class="nav-shadow" style="height:100%;width:120px">
                        <el-menu :default-active="this.$route.path" mode="vertical"
                            style="display:block;position: fixed; top: 0px; bottom: 0px;padding-top: 60px" router>
                            <el-menu-item index="/overview"> <i class="el-icon-menu"></i> <span slot="title">总览</span>
                            </el-menu-item>
                            <el-menu-item index="/problem"> <i class="el-icon-question"></i> <span
                                    slot="title">问题</span>
                            </el-menu-item>
                            <el-menu-item index="/statistics">
                                <i class="el-icon-document"></i> <span slot="title">统计</span> </el-menu-item>
                            <el-menu-item index="/about"> <i class="el-icon-info"></i> <span slot="title">关于</span>
                            </el-menu-item>
                        </el-menu>
                    </el-aside>
                    <el-main class="dashboard-el-main">
                        <!-- 占位符，用来在当中根据路由来展示对应的内容 -->
                        <!--props自定义的mydata属性双向绑定tabledata  -->
                        <!--143  -->
                        <router-view :mydata="tableData" :myStatus="statusDropdown"></router-view>
                    </el-main>
                </el-container>
            </el-container>
        </div>
    </template>
</body>

<!-- 总览布局 -->
<template id="overview-template">
    <div id="overview">
        <el-row :gutter="10" style="width:99.31%">
            <el-col style="width:25%">
                <div class="info-shadow" style="height: 380px;">
                    <p>与我相关的缺陷</p>
                    <div style="margin-top: -40px">
                        <dl>
                            <dt>1</dt>
                            <dd>我创建的</dd>
                        </dl>
                        <dl>
                            <dt>2</dt>
                            <dd>我跟踪的</dd>
                        </dl>
                        <dl>
                            <dt>3</dt>
                            <dd>待解决的</dd>
                        </dl>
                        <dl>
                            <dt>4</dt>
                            <dd>指派给我的</dd>
                        </dl>
                    </div>
                </div>
            </el-col>
            <el-col style="width:75%">
                <div class="info-shadow" style="height: 380px;">
                    <p>任务分布</p>
                    <el-progress :percentage="50" color="red" type="circle" style="margin-left: 10%"> </el-progress>
                    <el-progress :percentage="50" color="blue" type="circle" style="margin-left: 10%">
                    </el-progress>
                    <el-progress :percentage="50" color="yellow" type="circle" style="margin-left: 10%">
                    </el-progress>
                    <el-progress :percentage="50" color="green" type="circle" style="margin-left: 10%">
                    </el-progress>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="10" style="width:99.31%;margin-bottom:20px">
            <el-col style="width:25%">
                <div class="info-shadow" style="margin-top: 1%; height: 370px;">
                    <p>我的任务</p>
                </div>
            </el-col>
            <el-col style="width:75%">
                <div class="info-shadow" style="margin-top: 1%; height: 370px;">
                    <p>我的任务</p>
                </div>
            </el-col>
        </el-row>
    </div>
</template>

<!-- 问题详情模板 -->
<template id="problem-template">
    <div id="problem">
        <el-container style=" border: 1px solid #eee;height:670px">
            <!-- <el-aside width="200px">
                <el-menu style="position:fixed;width: 200px;height: 100%;">
                    <el-menu-item index="1">
                        <template slot="title"><i class="el-icon-message"></i>全部问题</template>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-message"></i><span slot="title">待我解决</span>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-message"></i><span slot="title">指派给我的</span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-message"></i><span slot="title">我创建的</span>
                    </el-menu-item>
                    <el-menu-item index="5">
                        <i class="el-icon-message"></i><span slot="title">我分配的</span>
                    </el-menu-item>
                    <el-menu-item index="6">
                        <i class="el-icon-message"></i><span slot="title">未关闭的问题</span>
                    </el-menu-item>
                </el-menu>
            </el-aside> -->
            <el-header class="problem-el-header">
                <el-form style="background-color: #FFF;">
                    <el-button type="warning" size="mini" style="margin:20px 0 0 10px">批量删除</el-button>
                </el-form>
            </el-header>
            <el-main class="problem-el-main">
                <!-- 将mydata属性绑定的值传给data  -->
                <el-table :data="mydata">
                    <!-- type为selection时选择多行数据时使用 Checkbox。 -->
                    <el-table-column type="selection" width="55">
                    </el-table-column>
                    <el-table-column prop="status" label="问题状态" width="100" :filters="myStatus"
                        :filter-method="filterHandler">
                        <template slot-scope="scope">
                            <!-- dropdown中的command：点击菜单项(dropdown-item)触发的事件回调dropdown-item中command指令的值 -->
                            <el-dropdown trigger="click" @command="statusDropdownChoose">
                                <el-tag>
                                    {{scope.row.status}}
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </el-tag>
                                <el-dropdown-menu slot="dropdown">
                                    <!-- :command="status.text"来获取值 -->
                                    <el-dropdown-item v-for="status in myStatus" :command="status.text">
                                        {{status.text}}
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </template>
                    </el-table-column>
                    <el-table-column prop="name" label="姓名" width="100">
                        <template slot-scope="scope">
                            <div>
                                <el-tag size="medium">{{ scope.row.name }}</el-tag>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="address" label="地址">
                    </el-table-column>
                    <el-table-column prop="priority" label="优先级">
                        <template slot-scope="scope">
                            <el-dropdown trigger="click" @command="priorityDropdownChoose">
                                <el-tag>
                                    {{scope.row.priority}}
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </el-tag>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item v-for="priorities in priorityDropdown" :command="priorities.text">
                                        {{priorities.text}}
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </template>
                    </el-table-column>
                    <el-table-column prop="belongto" label="指派关系"></el-table-column>
                    <el-table-column prop="date" label="日期" width="140">
                        <template slot-scope="scope">
                            <i class="el-icon-time"></i>
                            <span style="margin-left: 10px">{{ scope.row.date }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column align="center">
                        <template slot="header" slot-scope="scope">
                            <el-input size="mini" placeholder="输入关键字搜索" />
                        </template>
                        <template slot-scope="scope">
                            <el-button size="mini">编辑</el-button>
                            <el-button size="mini" type="danger">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>
            <!--  <el-footer class="problem-el-footer">
                <el-form style="background-color: #FFF;height:100%;">
                    <el-button type="warning" size="mini" style="margin:20px 0 0 10px">批量删除</el-button>
                </el-form>
            </el-footer> -->
        </el-container>
    </div>
</template>

<!-- 统计模板 -->
<template id="statistics-template">
    <h1>statistics</h1>
</template>
<!-- 关于模板 -->
<template id="about-template">
    <h1>about</h1>
</template>
<script type="text/javascript" src="js\dashboard.js"></script>
<!-- <script type="text/javascript" src="js\problem.js"></script> -->
<!-- <script type="text/javascript" src="js\overview.js"></script>
<script type="text/javascript" src="js\statistics.js"></script> -->

</html>