<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- <script src="..\resources\vue\vue.js" type="text/javascript"></script>
    <script src="..\resources\element\index.js" type="text/javascript"></script>
    <link href="..\resources\element\index.css" rel="stylesheet" type="text/css"> -->
</head>

<body>
    <template id="problem">
        <div>
            <el-container style="height: 500px; border: 1px solid #eee">
                <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                    <el-menu style="position:fixed;width: 200px;height: 500px;">
                        <el-menu-item index="1">
                            <template slot="title"><i class="el-icon-message"></i>全部问题</template>
                        </el-menu-item>
                        <el-menu-item index="2">
                            <i class="el-icon-message"></i><span slot="title">待我解决</span>
                        </el-menu-item>
                        <el-menu-item index="3">
                            <i class="el-icon-message"></i><span slot="title">指派给我的</span>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <i class="el-icon-message"></i><span slot="title">我创建的</span>
                        </el-menu-item>
                        <el-menu-item index="5">
                            <i class="el-icon-message"></i><span slot="title">我分配的</span>
                        </el-menu-item>
                        <el-menu-item index="6">
                            <i class="el-icon-message"></i><span slot="title">未关闭的问题</span>
                        </el-menu-item>
                    </el-menu>
                </el-aside>
                <el-container>
                    <el-header style="text-align: right; font-size: 12px">
                        <el-dropdown>
                            <i class="el-icon-setting" style="margin-right: 15px"></i>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>查看</el-dropdown-item>
                                <el-dropdown-item>新增</el-dropdown-item>
                                <el-dropdown-item>删除</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                        <span>王小虎</span>
                    </el-header>

                    <el-main>
                        <el-table
                            :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                            :default-sort="{prop: 'date', order: 'descending'}">
                            <!-- type为selection时选择多行数据时使用 Checkbox。-->
                            <el-table-column type="selection" width="55">
                            </el-table-column>
                            <el-table-column prop="date" label="日期" width="140" sortable>
                            </el-table-column>
                            <el-table-column prop="name" label="姓名" width="120" sortable>
                            </el-table-column>
                            <el-table-column prop="address" label="地址" sortable>
                            </el-table-column>
                            <el-table-column align="right">
                                <template slot="header" slot-scope="scope">
                                    <el-input v-model="search" size="mini" placeholder="输入关键字搜索" />
                                </template>
                                <template slot-scope="scope">
                                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                                    <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">
                                        Delete</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-main>
                    <div class="block">
                        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                            :current-page="currentPage4" :page-sizes="[100, 200, 300, 400]" :page-size="100"
                            layout="total, sizes, prev, pager, next, jumper" :total="400">
                        </el-pagination>
                    </div>
                </el-container>
            </el-container>
        </div>
    </template>


    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>

    <script>
        new Vue({
            el: "#problem",
            methods: {
                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                },
                handleCurrentChange(val) {
                    console.log(`当前页: ${val}`);
                }
            },
            data() {
                const item = {
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                };
                return {
                    search: '',
                    tableData: Array(20).fill(item),
                    currentPage1: 5,
                    currentPage2: 5,
                    currentPage3: 5,
                    currentPage4: 4
                }
            }
        })
    </script>
</body>

</html>